<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="ReadConnectionString" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=DapperLearn;Integrated Security=True"/>
    
    <add name="WriteConnectionString" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=DapperLearn;Integrated Security=True"/>
    
  </connectionStrings>
</configuration>